<div class="footer">
    <div class="footer__Content container">
        <div class="footer__ContentTop ">
            <div class="footer__Item">
                <h5>BIRD</h5>
                <div class="row">
                    <div class="col-6">
                        <p>
                            <a href="#">FAQ</a>
                        </p>
                        <p>
                            <a href="#">Brand Guidelines</a>
                        </p>
                    </div>
                    <div class="col-6" style="width:154px;">
                        <p>
                            <a href="#">Thỏa thuận sử dụng</a>
                        </p>
                        <p>
                            <a href="#">Chính sách bảo mật</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer__Item">
                <h5>ĐỐI TÁC</h5>
                <div class="row col-12 linePartner" style="width: 285px;">
                    <a href="https://www.cgv.vn/">
                        <img src="../../../../assets/img/cgv.png" alt="">
                    </a>
                    <a href="http://bhdstar.vn">
                        <img src="../../../../assets/img/bhd.png" alt="">
                    </a>
                    <a href="http://galaxycine.vn">
                        <img src="../../../../assets/img/galaxycine.png" alt="">
                    </a>
                    <a href="http://cinestar.com.vn">
                        <img src="../../../../assets/img/cinestar.png" alt="">
                    </a>
                    <a href="http://lottecinemavn.com">
                        <img src="https://s3img.vcdn.vn/123phim/2018/09/404b8c4b80d77732e7426cdb7e24be20.png" alt="">
                    </a>
                </div>
                <div class="row col-12 linePartner" style="width: 285px;padding-top: 15px;">
                    <a href="https://www.megagscinemas.vn">
                        <img src="../../../../assets/img/megags.png" alt="">
                    </a>
                    <a href="https://www.betacineplex.vn/">
                        <img src="../../../../assets/img/bt.jpg" alt="">
                    </a>
                    <a href="http://ddcinema.vn">
                        <img src="../../../../assets/img/dongdacinema.png" alt="">
                    </a>
                    <a href="https://touchcinema.com/">
                        <img src="../../../../assets/img/TOUCH.png" alt="">
                    </a>
                    <a href="https://cinemaxvn.com/">
                        <img src="../../../../assets/img/cnx.jpg" alt="">
                    </a>
                </div>
                <div class="row col-12 linePartner" style="width: 285px;padding-top: 15px;">
                    <a href="http://starlight.vn/">
                        <img src="../../../../assets/img/STARLIGHT.png" alt="">
                    </a>
                    <a href="https://www.dcine.vn/">
                        <img src="../../../../assets/img/dcine.png" alt="">
                    </a>
                    <a href="https://zalopay.vn/">
                        <img src="../../../../assets/img/zalopay_icon.png" alt="">
                    </a>
                    <a href="https://www.payoo.vn/">
                        <img src="../../../../assets/img/payoo.jpg" alt="">
                    </a>
                    <a href="https://www.vietcombank.com.vn">
                        <img src="../../../../assets/img/VCB.png" alt="">
                    </a>
                </div>
                <div class="row col-12 linePartner" style="width: 285px;padding-top: 15px;">
                    <a href="http://www.agribank.com.vn/">
                        <img src="../../../../assets/img/AGRIBANK.png" alt="">
                    </a>
                    <a href="http://www.agribank.com.vn/">
                        <img src="../../../../assets/img/VIETTINBANK.png" alt="">
                    </a>
                    <a href="https://www.indovinabank.com.vn">
                        <img src="../../../../assets/img/IVB.png" alt="">
                    </a>
                    <a href="http://123go.vn">
                        <img src="../../../../assets/img/123go.png" alt="">
                    </a>
                    <a href="http://laban.vn">
                        <img src="../../../../assets/img/laban.png" alt="">
                    </a>
                </div>
            </div>
            <div class="footer__Item hideOnMobile">
                <h5>MOBILE APP</h5>
                <a href="https://apps.apple.com/vn/app/tix-%C4%91%E1%BA%B7t-v%C3%A9-nhanh-nh%E1%BA%A5t/id615186197">
                    <img src="../../../../assets/img/apple-logo.png" alt="">
                </a>
                <a class="pl-2" href="https://play.google.com/store/apps/details?id=vn.com.vng.phim123">
                    <img src="../../../../assets/img/android-logo.png" alt="">
                </a>
            </div>
            <div class="footer__Item hideOnMobile">
                <h5>SOCIAL</h5>
                <a href="https://www.facebook.com/tix.vn">
                    <img src="../../../../assets/img/facebook-logo.png" alt="">
                </a>
                <a class="pl-2" href="https://zalo.me/tixdatve">
                    <img src="../../../../assets/img/zalo-logo.png" alt="">
                </a>
            </div>
        </div>
        <hr style="border-top: 1px solid #4a4a4a;">
        <div class="footer__ContentBottom row">
            <div class="col-1 footer__ContentBottomZion">
                <img src="../../../../assets/img/zion-logo.jpg" alt="">
            </div>
            <div class="col-9 footer__ContentBottomContent">
                <h3>BIRD – SẢN PHẨM CỦA CÔNG TY CỔ PHẦN ZION</h3>
                <span>Địa chỉ: Toà nhà Hà Đô Airport, số 02 đường Hồng Hà, phường 2, quận Tân Bình, TP. HCM</span>
                <span> Giấy chứng nhận đăng ký kinh doanh số: 0101659783,</span>
                <span>đăng ký thay đổi lần thứ 30, ngày 22 tháng 01 năm 2020 do Sở kế hoạch và đầu tư Thành phố Hồ Chí Minh cấp.
                </span>
                <span>Số Điện Thoại (Hotline): 1900 521 234</span>
                <span class="spanEmail">Email: 
                    <a href="#"></a>
                </span>
            </div>
            <div class="col-2">
                <a href="#">
                    <img style="width: 130px;" src="../../../../assets/img/9693e0dbb6ceb3b274afeb6aa09a911f.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>