<div id="cumRap" style="background-color: white;" class="tab container">
    <div class="container tab-content">
        <mat-tab-group>
            <mat-tab *ngFor="let item of listMovieTheater;let i=index">
                <ng-template mat-tab-label>
                    <div class="tabImg" style="width: 135px;" (click)="laymaHeThong(item.maHeThongRap)">
                        <img [src]="item.logo" class="tab-content__img" alt="">
                    </div>
                </ng-template>
                <div class="row">
                    <div class="col-4 tab-content__movieTheater" [style]="styleTab">
                        <ul>
                            <li *ngFor="let cumRap of listMovieShowTime">
                                <button (click)="LayDanhSachPhim(cumRap.maCumRap)" class="tab-content__item">
                                    <img src="../../../../assets/img/bhd-star-bitexco-15379552241200.jpg" alt="">
                                    <div>
                                        <h4>{{cumRap.tenCumRap}}</h4>
                                        <a href="#">[chi tiết]</a>
                                    </div>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-8 " [style]="styleTab">
                        <div class="row">
                            <div class="col-12 tab-content__movieTheaterBottom" *ngFor="let phim of deMo">
                                <div class="tab-content__imgTitle" *ngFor="let lichChieu of lichChieu">
                                    <div>
                                        <img src="../../../../assets/img/birds-of-prey-cuoc-lot-xac-huy-hoang-cua-harley-quinn-15765680654398_60x60.jpg" alt="">
                                        <h4 style="display: block;" class="pl-3 py-2">2D Digital</h4>

                                    </div>
                                    <div class="pl-4">
                                        <p class="movieName">{{phim.tenPhim}}</p>
                                        <p>{{lichChieu.tenRap}}</p>
                                        <span>132 phút - TIX 9.1 - IMDb 8.6</span>
                                    </div>

                                    <div class="tab-content__imgTime pl-3">
                                        <button mat-raised-button color="primary">{{lichChieu.ngayChieuGioChieu | date:'MM/dd/yyyy - h:mm a'}}</button>
                                        <!-- <button mat-raised-button color="primary" class=" mx-3">19:10</button>
                                        <button mat-raised-button color="primary">23:05</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>

    </div>
</div>