<div id="ungDung" class="mobile">
    <div class="mobile__background">
        <div class="row">
            <div class="col-6 mobile__contentleft">
                <h2>Ứng dụng tiện lợi dành cho người yêu điện ảnh</h2>
                <p>Không chỉ đặt vé, bạn còn có thể bình luận phim, chấm điểm rạp và đổi quà hấp dẫn.</p>
                <button mat-raised-button color="warn">App miễn phí - Tải về ngay!</button>
                <p>TIX có hai phiên bản
                    <a href="#">IOS </a>
                    <span>& </span>
                    <a href="#">Android</a>
                </p>
            </div>
            <div class="col-6 mobile__contentright">
                <img class="mobile__contentright--img" src="../../../../assets/img/mobile.png" alt="">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="single-item">
                        <div><img class="d-block w-100" src="../../../../assets/img/slide1.jpg" alt="Third slide"></div>
                        <div><img class="d-block w-100" src="../../../../assets/img/slide2.jpg" alt="Third slide"></div>
                        <div><img class="d-block w-100" src="../../../../assets/img/slide3.jpg" alt="Third slide"></div>
                        <div><img class="d-block w-100" src="../../../../assets/img/slide4.jpg" alt="Third slide"></div>
                        <div><img class="d-block w-100" src="../../../../assets/img/slide5.jpg" alt="Third slide"></div>
                        <div><img class="d-block w-100" src="../../../../assets/img/slide6.jpg" alt="Third slide"></div>
                        <div><img class="d-block w-100" src="../../../../assets/img/slide7.jpg" alt="Third slide"></div>
                        <div><img class="d-block w-100" src="../../../../assets/img/slide8.jpg" alt="Third slide"></div>
                        <div><img class="d-block w-100" src="../../../../assets/img/slide9.jpg" alt="Third slide"></div>
                        <div><img class="d-block w-100" src="../../../../assets/img/slide10.jpg" alt="Third slide"></div>
                        <div><img class="d-block w-100" src="../../../../assets/img/slide11.jpg" alt="Third slide"></div>
                        <div><img class="d-block w-100" src="../../../../assets/img/slide12.jpg" alt="Third slide"></div>
                        <div><img class="d-block w-100" src="../../../../assets/img/slide13.jpg" alt="Third slide"></div>
                        <div><img class="d-block w-100" src="../../../../assets/img/slide14.jpg" alt="Third slide"></div>
                        <div><img class="d-block w-100" src="../../../../assets/img/slide15.jpg" alt="Third slide"></div>
                        <div><img class="d-block w-100" src="../../../../assets/img/slide16.jpg" alt="Third slide"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>