<div class="row">
    <div class="col-6 dienAnh__itemTop">
        <a href="#">
            <img [src]="itemNew.hinhAnh1" alt="">
            <p> Làm 'anh hùng' trong Vũ trụ Fast chưa đủ, Vin Diesel quyết hoá thân thành người hùng nano trong Bloodshot
            </p>
            <span>Valiant comic chính thức lên màn ảnh với sự xuất hiện của Bloodshot.</span>
        </a>
    </div>
    <div class="col-6 dienAnh__itemTop">
        <a href="#">
            <img [src]="itemNew.hinhAnh2" alt="">
            <p> Làm 'anh hùng' trong Vũ trụ Fast chưa đủ, Vin Diesel quyết hoá thân thành người hùng nano trong Bloodshot
            </p>
            <span>Valiant comic chính thức lên màn ảnh với sự xuất hiện của Bloodshot.</span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-4 dienAnh__itemBottom">
        <a href="#">
            <img src="../../../../assets/img/truoc-them-valentine-tiec-trang-mau-tung-trailer-cuc-hai-huoc-va-day-kich-thich-15814858687577.jpg" alt="">
            <p> Trước thềm Valentine, Tiệc Trăng Máu tung trailer cực hài hước và đầy kích thích
            </p>
            <span>Sau khi xem trailer này, hội có gấu liệu có rùng mình?.</span>
        </a>
    </div>
    <div class="col-4 dienAnh__itemBottom">
        <a href="#">
            <img src="../../../../assets/img/can-phong-cam-do-su-that-ngu-tri-trong-con-nguoi-u-am-den-co-nao-15810652868586.jpg" alt="">
            <p> Căn Phòng Cám Dỗ - Sự thật ngự trị trong con người u ám đến cỡ nào
            </p>
            <span>Một tác phẩm tâm lý, kinh dị nhưng lại rất đời thực bởi chúng ta sẽ thấy chính bản thân mình thông qua bộ phim.</span>
        </a>
    </div>
    <div class="col-4 dienAnh__itemBottom">
        <a href="#" class="dienAnh__itemBottom__right ">
            <img src="../../../../assets/img/lo-dien-trailer-minions-2-gi-dau-ai-cung-de-thuong-het-phan-thien-ha-15809739867053.jpg" alt="">
            <p> Lộ diện trailer Minions 2, gì đâu ai cũng dễ thương hết phần thiên hạ
            </p>
        </a>
        <a href="#" class="dienAnh__itemBottom__right ">
            <img src="../../../../assets/img/5c5b85d61422e1ff2b32c930338bb549.png" alt="">
            <p> Đâu là các nam thần Hollywood đã từng sánh đôi với nàng Harley Quinn xinh đẹp, điên loạn?
            </p>
        </a>
        <a href="#" class="dienAnh__itemBottom__right ">
            <img src="../../../../assets/img/3308cde8ece70efd3f69c2509d4acb94.png" alt="">
            <p> Năm 2020, khi các nữ nhân truyện tranh chiếm sóng màn bạc
            </p>
        </a>
        <a href="#" class="dienAnh__itemBottom__right ">
            <img src="../../../../assets/img/12c842a001504ab1ef73c8097938e2ef.jpg" alt="">
            <p> Lộ diện phản diện mới của series Fast and Furious, 'người đặc biệt' đã trở lại!
            </p>
        </a>
    </div>
</div>