<div class="detailMain">
    <div class="detailMain__background">
        <img src="../../../../assets/img/little-15816462985668.jpg" alt="">
        <div class="styleGradient"></div>
    </div>
    <div class="row container detailMain__Title">
        <div class="col-6 detailMain__TitleItem">
            <img src="https://s3img.vcdn.vn/mobile/123phim/2020/02/so-thu-thoat-e-secret-zoo-c16-15807877612903_215x318.jpg" alt="">
            <div class="detailMain__TitleItem__Content">
                <p>14.02.2020</p>
                <h3>Sở thú thoát ế - Secret Zoo</h3>
                <p>117 phút - 0 IMDb - 2D/Digital</p>
                <button mat-raised-button color="warn">Mua vé</button>
            </div>
        </div>
        <div class="col-6">
            <!-- <button mat-raised-button color="warn">Mua vé</button> -->

        </div>
    </div>
</div>