<div class="row" style="background-color: #0a2029; color: white;">
    <div class="col-6">
        <div class="row">
            <div class="col-4 title-Infor">
                <h3>Ngày khởi chiếu</h3>
                <h3>Tên phim</h3>
                <h3>Bí danh</h3>
                <h3>Đánh giá</h3>
            </div>
            <div class="col-6 title-Infor__Detail">
                <h3>{{inForMovie.ngayKhoiChieu}}</h3>
                <h3>{{inForMovie.tenPhim}}</h3>
                <h3>{{inForMovie.biDanh}}</h3>
                <h3>{{inForMovie.danhGia}}</h3>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h3 style="font-weight: 500;
        font-size: 14px;">Nội dung</h3>
        Dựa trên bộ truyện tranh bán chạy nhất, nam diễn viên Vin Diesel đảm nhận vai Ray Garrison, một người lính không may bị giết trong lúc ra trận và trở lại với vai trò là siêu anh hùng Bloodshot của tập đoàn RST. Với một đội quân công nghệ nano trong huyết
        quản, anh ta là một lực lượng không thể ngăn cản, mạnh mẽ hơn bao giờ hết và có thể chữa lành ngay lập tức. Nhưng trong việc kiểm soát cơ thể của mình, công ty cũng đã thay đổi cả tâm trí và ký ức của anh ấy.
    </div>
</div>