<div class="datGhe-Main">
    <div class="row">
        <div class="col-8">
            <div class="ticket-booking">
                <div class="top-Content">
                    <div class="top-Content__theater">
                        <div class="logo">
                            <img src="https://s3img.vcdn.vn/123phim/2018/09/ee621ee05dcd4565caead4f29421b41e.png" alt="">
                        </div>
                        <div class="infor-theater">
                            <span style="color:#9C9C9C">{{nameRap}}</span>
                            <span> - {{nameCumRap}}</span>
                            <p>Hôm nay - {{timeChieu}} - {{namePhim}}</p>
                        </div>
                    </div>
                    <div class="top-Content__TimeBooking">
                        <p class="infor1">Thời gian giữ ghế</p>
                        <p class="infor2">
                            <countdown [config]="{leftTime: 300,format:'mm:ss'}" (event)="handleEvent($event)"></countdown>
                        </p>
                    </div>
                </div>
                <div class="screen">
                    <img src="../../../../assets/img/screen.png" alt="">
                </div>
                <div class="seat">
                    <div class="col-9 mx-auto">
                        <div *ngFor="let gheItem of listPhongVe; let i =index" style="display: inline;">
                            <app-ghe *ngIf="i<40" (emitStatus)="datGheParent($event,gheItem)" [ghe]="gheItem"></app-ghe>
                        </div>
                    </div>
                    <hr>
                    <div class="note-Seat">
                        <div class="note-SeatItem">
                            <button mat-raised-button style="background-color:#3e515d ;" class="btn"></button>
                            <p>Chưa chọn</p>
                        </div>
                        <div class="note-SeatItem">
                            <button mat-raised-button style="background-color:#FFD700 ;" class="btn"></button>
                            <p>Ghế Vip</p>
                        </div>
                        <div class="note-SeatItem">
                            <button mat-raised-button style="background-color:#008000 ;" class="btn"></button>
                            <p>Đang chọn</p>
                        </div>
                        <div class="note-SeatItem">
                            <button mat-raised-button disabled class="btn "></button>
                            <p>Đã có người chọn</p>
                        </div>
                    </div>
                    <p>Số ghế đã đặt: {{soGheDaDat}}</p>
                    <p>Tổng số ghế : {{soGheConLai}}</p>
                </div>
            </div>
        </div>
        <div class="col-4 ">
            <div class="right-Content">
                <div class="right-Content__form">
                    <img class="buterfly" src="../../../../assets/img/butterfly-8814-17610-300x300.png" alt="">
                    <div class="right-Content__cost">
                        <p>{{costTicket | currency:'VND':'symbol':'0.0':'fr-VND'}}</p>
                    </div>
                    <div class="right-Content__title">
                        <img class="icon-C" [src]="hinhPhim" alt="">
                        <span class="movie-name">{{namePhim}}</span>
                        <p style="margin-top: 5px;">{{nameCumRap}}</p>
                        <p>Hôm nay - {{dateChieu}} - {{timeChieu}}</p>
                    </div>
                    <div class="seat">
                        <span class="pr-2" style="color:#fb4226">Ghế</span>
                        <span *ngFor=" let demo of danhSachGheDangDat" style="color:#fb4226">{{demo.tenGhe}}, </span>
                        <span class="seat__cost">{{costSeat | currency:'VND':'symbol':'0.0':'fr-VND'}}</span>
                    </div>
                    <div class="point-combo" (click)="showListCombo()">
                        <div>
                            <img src="../../../../assets/img/popcorn.png" alt="">
                            <span style="font-weight: 500;">Chọn Combo</span>
                        </div>
                        <div class="list-combo__cost">
                            {{costCombo | currency:'VND':'symbol':'0.0':'fr-VND'}}
                        </div>
                    </div>
                    <form class="form-ticketbooking" [formGroup]="formTicketBooking" (ngSubmit)="ticketBooking()">

                        <mat-form-field class="emailFormFill">
                            <mat-label>Email *</mat-label>
                            <input matInput placeholder="pat@example.com" [(ngModel)]="emailDatVe" [formControl]="emailBookingFormControl">
                            <mat-error *ngIf="emailBookingFormControl.hasError('required')">
                                Không được <strong>bỏ trống</strong>
                            </mat-error>
                            <mat-error *ngIf="emailBookingFormControl.hasError('pattern')">
                                Điền <strong>sai cấu trúc</strong>
                            </mat-error>
                            <mat-error *ngIf="emailBookingFormControl.hasError('maxlength')">
                                Không được <strong>quá dài</strong>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="emailFormFill">
                            <mat-label>Điện thoại *</mat-label>
                            <span matPrefix>+84 &nbsp;</span>
                            <input type="tel" matInput [(ngModel)]="phoneDatVe" [formControl]="phoneBookingFormControl" placeholder="(09|03|07|08|05)-234-268-23">
                            <mat-error *ngIf="phoneBookingFormControl.hasError('required')">
                                Không được <strong>bỏ trống</strong>
                            </mat-error>
                            <mat-error *ngIf="phoneBookingFormControl.hasError('pattern')">
                                Điền <strong>sai cấu trúc</strong>
                            </mat-error>
                        </mat-form-field>
                        <ng-template #payBank>
                            <mat-radio-group aria-label="Select an option" [formControl]="payBookingFormControl">
                                <mat-radio-button value="1">Thanh toán qua ngân hàng</mat-radio-button>
                            </mat-radio-group>
                            <mat-error style="padding-left: 29px;" *ngIf="payBookingFormControl.hasError('required')">
                                Không được <strong>bỏ trống</strong>
                            </mat-error>
                        </ng-template>
                        <div class="pay-Ticket">
                            <p>Hình thức thanh toán</p>
                            <p class="pay-Ticket__error" *ngIf="payNumber===0; else payBank">Vui lòng chọn ghế để hiển thị phương thức thanh toán phù hợp.</p>
                            <p class="pay-Ticket__note">
                                <img src="../../../../assets/img/exclamation.png" alt=""> Vé đã mua không thể đổi hoặc hoàn tiền Mã vé sẽ được gửi qua tin nhắn
                                <span style="color:#f79320">điện thoại</span> và <span span style="color:#f79320">Email</span> đã nhập.</p>
                        </div>
                        <button class="btnTicketBooking" [disabled]="formTicketBooking.invalid" color="primary" mat-raised-button>Đặt vé</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="background-Booking" *ngIf="backgroundBooking" (click)="showListCombo()">

        </div>
        <div class="list-Combo" [style]="styleRight">
            <div class="list-Combo__Title">
                <p>COMBO</p>
            </div>
            <div class="list-Combo__Food">
                <div class="list-Combo__FoodItems row" *ngFor="let food of listFood">
                    <div class="col-3">
                        <img [src]="food.hinhAnhFood" alt="">
                    </div>
                    <div class="col-5">
                        <p class="nameFood">MY COMBO {{food.nameFood}}</p>
                        <P class="costFood">{{food.Gia | currency:'VND':'symbol':'0.0':'fr-VND'}}</P>
                    </div>
                    <div class="col-4" class="minusAdd">
                        <button class="minus-amount" (click)="giamSoLuong(food.nameFood)">-</button>
                        <span class="number">{{food.soLuongFood}}</span>
                        <button class="add-amount" (click)="tangSoLuong(food.nameFood)">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>