<div class="movie-item">
    <img [src]="phim.hinhAnh" alt="Random second slide">
    <div class="overlay"></div>
    <div class="play">
        <div>
            <p>
                <i class="fa fa-play-circle" aria-hidden="true"></i>
            </p>
            <p href="#">Đánh giá: {{phim.danhGia}} *</p>
            <p class="newin__p">Date: {{phim.ngayKhoiChieu | date:'dd/MM/yyyy'}}</p>
        </div>

    </div>
    <div class=" movie-item__bottom">
        <h3>{{phim.tenPhim}}</h3>
        <button class="button-booking" mat-raised-button color="warn" [routerLink]="['/chitietphim', phim.maPhim]">XEM CHI TIẾT</button>
    </div>
</div>